* {

}

body {
    background-color: black;
    color: white;
}

header {
   
    padding: 10px;
    margin-bottom: 10px;
}

h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 80px;
    text-align: left;
    font-family: Papyrus, sans-serif; 
}

#soko77788 {
   display: flex;
   justify-content: flex-end;
    margin-left: 150px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
    
}

nav {
    text-align: right;
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    font-family: papyrus, sans-serif;
}

nav a {
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: blue;
    cursor: pointer;
}

li {
    display: inline;
   margin: 20px;
   padding-top: 15px;
}

section {
    background-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
   
    padding: 20px; 
    
   
}
 #subtitle-img {
    border-top: dashed white;
    border-bottom: dashed white;
    border-left: none;
    border-right: none;
    border-width: 5px;
    margin-left: -15px;
    
 }

 #subtitle-img p {
    font-family: Papyrus, sans-serif;
    color: white;
    text-align: center;
    font-size: 50px;
 }

.subtitle {
    height: 200px;
    width: 105%;
    background-size: cover;
   
}

.under-construction {
   
    height: 500px;
    /*Making width smaller makes img much more clear, not sure about other implications yet*/
    width: 100%;
    background-size: cover;
    
}

aside {
    background-color: white;
    color: black;
    font-size: 50px;
}

#about-me {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.project-example {
   margin-bottom: 20px;
   padding: 0px;
  
}

.button {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
    
}

footer {

}

p {
    color: pink;
}

.container {
    border: none;
}

.container1 p {
    border: none;
    background-color: grey;
    color: yellow;
    padding: 10px;
    margin-bottom: 10px;
}

img{
    border: none;
}
